kubectl --kubeconfig=myconfig get pods
------------------------------------ Token---------------------------------------------------
apiVersion: v1
kind: Config
clusters:
- name: uni-cluster               # (نام دلخواه کلاستر)
  cluster:
    server: https://172.28.101.197:6443
    # kubectl cluster-info
    certificate-authority-data: <BASE64_CA_CRT>
    # Server : sudo cat /etc/kubernetes/pki/ca.crt
    # base64 -w0 /etc/kubernetes/pki/ca.crt
users:
- name: win-user                  # (باید دقیقاً با username در token.csv یکی باشد)
  user:
    token: b9b2f6f8c1d24d7e9c8a1f0a2b3c4d4e
    # /etc/kubernetes/auth/token.csv
    # token,username,uid,group
    # b9b2f6...,win-user,10001,win-group
contexts:
- name: win-context               # (نام دلخواه context)
  context:
    cluster: uni-cluster           # (اشاره به clusters.name)
    user: win-user                 # (اشاره به users.name)
    namespace: default             # (اختیاری)

current-context: win-context       # (context فعال برای kubectl)
--- tested sample file-------
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tL... #-------------> base64 -w0 /etc/kubernetes/pki/ca.crt
    server: https://172.28.200.197:6443 #-------------> kubectl cluster-info
  name: uni-cluster
contexts:
- name: win-context
  context:
    cluster: uni-cluster
    user: win-user #-------------> /etc/kubernetes/auth/token.csv
users:
- name: win-user 
  user:
    token: b9b2f6f3c1d.... #-------------> /etc/kubernetes/auth/token.csv
current-context: win-context
------------------------------------Client Certificate-------------------------------------------
openssl genrsa -out user.key 2048
openssl req -new -key user.key -out user.csr \
  -subj "/CN=win-user/O=win-group"
openssl x509 -req -in user.csr \
  -CA /etc/kubernetes/pki/ca.crt \
  -CAkey /etc/kubernetes/pki/ca.key \
  -CAcreateserial \
  -out user.crt \
  -days 365
---
apiVersion: v1
kind: Config

clusters:
- name: uni-cluster
  cluster:
    server: https://172.28.101.197:6443
    # kubectl cluster-info
    certificate-authority-data: <BASE64_CA_CRT>
    # base64 -w0 /etc/kubernetes/pki/ca.crt
users:
- name: win-user #----------> -subj "/CN=win-user/O=win-group"
  user:
    client-certificate-data: <BASE64_USER_CRT> #----------> base64 -w0 user.crt 
    client-key-data: <BASE64_USER_KEY> #---------->base64 -w0 user.key

contexts:
- name: win-context
  context:
    cluster: uni-cluster     # (  clusters.name)
    user: win-user           # ( users.name)
    namespace: default       # (اختیاری)

current-context: win-context
-------------------------------------limitation put on our config file(user)-------------------------------------------
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: pod-reader
  namespace: dev
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ali-read-pods
  namespace: dev
subjects:
- kind: User
  name: win-user          #------> user the user for put limitation on it
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
---------------------------------------create managed certificate------------------------------------------------
openssl genrsa -out jane.key 2048
openssl req -new -key jane.key -out jane.csr \
  -subj "/CN=jane"
cat jane.csr | base64 | tr -d '\n'
---
apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: jane
spec:
  request: <BASE64_CSR> #------------> cat jane.csr | base64 | tr -d '\n'
  signerName: kubernetes.io/kube-apiserver-client
  usages:
  - client auth
---
kubectl apply -f jane-csr.yaml
kubectl get csr
kubectl certificate approve jane
kubectl certificate deny agent-smith #----> if we did not accepted it
kubectl get csr jane -o jsonpath='{.status.certificate}' \
  | base64 -d > jane.crt


